:root{
    --logo-size: 100px;
    --circle-image: 200px;
    --square-image: 500px;
}
body{
    position: relative;
}
body::-webkit-scrollbar{
    display: none;
}
*{
    box-sizing: border-box;
}
.text-justify{
    text-align: justify;
    text-justify: inter-word;
}